body {
    font-family: Montserrat Alternates;
    font-weight: 400;
}


h2  {
    font-size: 7rem;
}
   
h1 {

    font-size: 2rem;
    text-align: center;
    background-color: aliceblue;


}
p {
    font-size: small;
    background-color: aliceblue;
}
footer {
    text-align: center;
    font-size: 2rem;
   background-color: black;}
button {
    background-color: rgb(199, 199, 248);
    border-radius: 1rem;
}
ul